<!doctype html>
<html lang="en" data-ng-app="superHero">
<head>
  <meta charset="utf-8">
  <title>Superhero Phonebook</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
</head>
<body data-ng-controller="super_controller as vm">
  <h1>Superheroes</h1>


  <div class="picture">
    Picture: <img data-ng-src="{{vm.pic}}"/>
  </div>
  <div class="search">
    <input type="text"placeholder="Filter on..." data-ng-model="vm.filter_on" />
  </div>
  <table class="table">
    <thead>
      <tr class = {{product.group.toLowerCase()}} data-ng-repeat="product in vm.data | filter: vm.filter_on">
        <th>Name:{{product.name}}</th>
        <th>Number:{{product.number}}</th>
        <th><button data-ng-click = "vm.pic = product.img">
        push me
      </button></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</body>
</html>
